@page
@model BookingRoom.Pages.User.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].User_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.User_id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.User_id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.User_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
